In [24]:
import pandas as pd
import os

In [25]:
pwd = os.getcwd()

In [26]:
series_test = list(range(1,100))
pd.Series(series_test)

0      1
1      2
2      3
3      4
4      5
      ..
94    95
95    96
96    97
97    98
98    99
Length: 99, dtype: int64

In [27]:
pwd

'c:\\Users\\ganoa\\OneDrive\\Documents\\Belajar_Python\\Pandas'

In [28]:
pwd + "/siple_csv.csv"

'c:\\Users\\ganoa\\OneDrive\\Documents\\Belajar_Python\\Pandas/siple_csv.csv'

In [29]:
filepath = pwd + "/simple_csv.csv"

In [30]:
filepath

'c:\\Users\\ganoa\\OneDrive\\Documents\\Belajar_Python\\Pandas/simple_csv.csv'

In [31]:
first_import = pd.read_csv(filepath, nrows=10)
first_import

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\Users\\ganoa\\OneDrive\\Documents\\Belajar_Python\\Pandas/simple_csv.csv'

In [ ]:
first_import.Column1

0    0.280925
1    0.719882
2    0.235752
3    0.603366
4    0.039985
5    0.015478
6    0.192540
7    0.380921
8    0.592471
9    0.072112
Name: Column1, dtype: float64

## Bikin Kolom baru

In [ ]:
first_import ["kolom_baru"] = 12

In [ ]:
first_import

    Column1   Column2   Column3  kolom_baru
0  0.280925  0.910368  0.692982          12
1  0.719882  0.210024  0.761276          12
2  0.235752  0.059796  0.154667          12
3  0.603366  0.485614  0.013345          12
4  0.039985  0.236359  0.811832          12
5  0.015478  0.543641  0.112719          12
6  0.192540  0.409874  0.875082          12
7  0.380921  0.045468  0.515859          12
8  0.592471  0.786421  0.047249          12
9  0.072112  0.695694  0.409573          12

In [ ]:
first_import ["kolom_ke2"] = list(range(10))

In [ ]:
first_import

    Column1   Column2   Column3  kolom_baru  kolom_ke2
0  0.280925  0.910368  0.692982          12          0
1  0.719882  0.210024  0.761276          12          1
2  0.235752  0.059796  0.154667          12          2
3  0.603366  0.485614  0.013345          12          3
4  0.039985  0.236359  0.811832          12          4
5  0.015478  0.543641  0.112719          12          5
6  0.192540  0.409874  0.875082          12          6
7  0.380921  0.045468  0.515859          12          7
8  0.592471  0.786421  0.047249          12          8
9  0.072112  0.695694  0.409573          12          9

## perhitungan antar kolom

In [ ]:
first_import ["kolom_yang_ke3"] = first_import ["kolom_baru"] * first_import["kolom_ke2"]

first_import

## drop kolom

In [ ]:
first_import = first_import.drop (columns="kolom_baru")

In [ ]:
first_import

    Column1   Column2   Column3  kolom_ke2  kolom_yang_ke3
0  0.280925  0.910368  0.692982          0               0
1  0.719882  0.210024  0.761276          1              12
2  0.235752  0.059796  0.154667          2              24
3  0.603366  0.485614  0.013345          3              36
4  0.039985  0.236359  0.811832          4              48
5  0.015478  0.543641  0.112719          5              60
6  0.192540  0.409874  0.875082          6              72
7  0.380921  0.045468  0.515859          7              84
8  0.592471  0.786421  0.047249          8              96
9  0.072112  0.695694  0.409573          9             108

In [ ]:
first_import = first_import.drop (columns="kolom_yang_ke3")

In [ ]:
first_import

    Column1   Column2   Column3  kolom_ke2
0  0.280925  0.910368  0.692982          0
1  0.719882  0.210024  0.761276          1
2  0.235752  0.059796  0.154667          2
3  0.603366  0.485614  0.013345          3
4  0.039985  0.236359  0.811832          4
5  0.015478  0.543641  0.112719          5
6  0.192540  0.409874  0.875082          6
7  0.380921  0.045468  0.515859          7
8  0.592471  0.786421  0.047249          8
9  0.072112  0.695694  0.409573          9

In [ ]:
netflix = pd.read_csv(pwd + "/netflix_titles.csv")

In [ ]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [ ]:
list(netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [ ]:
netflix.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

# filter data

In [ ]:
netflix[netflix["country"] == "India"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
18,s19,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ..."
20,s21,Movie,​​Kuch Bheege Alfaaz,Onir,"Geetanjali Thapa, Zain Khan Durrani, Shray Rai...",India,"September 1, 2018",2018,TV-14,110 min,"Dramas, Independent Movies, International Movies",After accidentally connecting over the Interne...
21,s22,Movie,​Goli Soda 2,Vijay Milton,"Samuthirakani, Bharath Seeni, Vinoth, Esakki B...",India,"September 15, 2018",2018,TV-14,128 min,"Action & Adventure, Dramas, International Movies","A taxi driver, a gangster and an athlete strug..."
...,...,...,...,...,...,...,...,...,...,...,...,...
7764,s7765,Movie,Zero,Aanand Rai,"Shah Rukh Khan, Anushka Sharma, Katrina Kaif, ...",India,"May 21, 2019",2018,TV-14,159 min,"Comedies, Dramas, International Movies",Through his relationships with two wildly diff...
7769,s7770,Movie,Zindagi Na Milegi Dobara,Zoya Akhtar,"Hrithik Roshan, Abhay Deol, Farhan Akhtar, Kat...",India,"December 15, 2019",2011,TV-14,154 min,"Comedies, Dramas, International Movies",Three friends on an adventurous road trip/bach...
7776,s7777,Movie,Zokkomon,Satyajit Bhatkal,"Darsheel Safary, Anupam Kher, Manjari Fadnis, ...",India,"November 1, 2018",2011,PG,104 min,"Children & Family Movies, Dramas","When his cruel uncle abandons him, a young orp..."
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

# splitting Collums 
## (membagi kolom misal di kolom date_added [march 1,2020] kta mau pisah data ygdi kolom berdasarkan komanya jadi nanti akan ada  kolom baru yang hanya terdiri dari tanggal bulan, dan tahunnya saja)

In [ ]:
netflix [["Bulan & Tanggal Ditambahkan","Tahun ditambahkan"]] = netflix["date_added"].str.split(", ",expand=True)

In [ ]:
netflix

,show_id,type,judul,director,pemeran,country,tahun_rilis,rating,duration,listed_in,description,bulan_ditambahkan,tahun_ditambahkan
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,March 1,2020

In [ ]:
netflix = netflix.drop (columns="date_added")

# Rename Collum (ganti nama kolom)
## Rename lebih dari 1 kolom tinngal dikasih koma

In [ ]:
netflix.rename( columns= {"Judul": "judul","Tahun ditambahkan": "tahun_ditambahkan"}, inplace=True)
netflix.rename( columns= {"listed_in": "genre"}, inplace=True)

In [ ]:
netflix

,show_id,type,judul,director,pemeran,country,tahun_rilis,rating,duration,genre,description,bulan_ditambahkan,tahun_ditambahkan
0,s1,TV Show,3%,no_director,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,no_director,Nasty C,no_country,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,no_director,"Adriano Zumbo, Rachel Khoo",Australia,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,tidak_ada_pemeran,"United Kingdom, Canada, United States",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,March 1,2020

# Mengisi data yang Null di Python (NaN)

In [ ]:

netflix["country"].fillna(value="no_country",inplace=True)

In [ ]:
netflix

,show_id,type,judul,director,pemeran,country,tahun_rilis,rating,duration,genre,description,bulan_ditambahkan,tahun_ditambahkan
0,s1,TV Show,3%,no_director,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,no_director,Nasty C,no_country,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,no_director,"Adriano Zumbo, Rachel Khoo",Australia,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,tidak_ada_pemeran,"United Kingdom, Canada, United States",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,March 1,2020

# menghitung karakter yang ada pada tiap baris 
## (disini contoh hitung genre yang ada di genre)

In [ ]:
netflix["jumlah_genre"] = netflix["genre"].map(lambda x: len(x.split(",")))

netflix["jumlah_pemeran"] = netflix["pemeran"].map(lambda x: len(x.split(",")))

In [ ]:
netflix

,show_id,type,judul,director,pemeran,country,tahun_rilis,rating,duration,genre,description,bulan_ditambahkan,tahun_ditambahkan,jumlah_genre,jumlah_pemeran
0,s1,TV Show,3%,no_director,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020,3,11
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016,2,6
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018,2,9
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017,3,9
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020,1,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,October 19,2020,2,7
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,March 2,2019,3,8
7784,s7785,Movie,Zulu Man in Japan,no_director,Nasty C,no_country,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",September 25,2020,3,1
7785,s7786,TV Show,Zumbo's Just Desserts,no_director,"Adriano Zumbo, Rachel Khoo",Australia,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,October 31,2020,2,2
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,tidak_ada_pemeran,"United Kingdom, Canada, United States",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,March 1,2020,2,1

# Pandas series Tutor (siap yg paling tutor)

In [ ]:
import pandas as pd

## tanda {} dipakai kalau ada lebih dari 1 type data (string,Int,dll) 

## tanda () kalau hanya 1 type data

In [32]:
price_per_category = {"product A" : 12000, "product B" : 14000, "product C" : 13500}

In [33]:
price_per_category

{'product A': 12000, 'product B': 14000, 'product C': 13500}

In [34]:
type(price_per_category)

dict

In [47]:
price_per_category = pd.Series (price_per_category)
price_per_category

product A    12000
product B    14000
product C    13500
dtype: int64

In [48]:
type(price_per_category)

pandas.core.series.Series

In [49]:
price_per_category.index

Index(['product A', 'product B', 'product C'], dtype='object')

## Label-based vs position-based indexing

In [36]:
series_a = pd.Series ([10,20,30,40,50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [37]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [38]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [42]:
list(series_a.index)

[0, 1, 2, 3, 4]

In [39]:
price_per_category

{'product A': 12000, 'product B': 14000, 'product C': 13500}

In [50]:
price_per_category.index

Index(['product A', 'product B', 'product C'], dtype='object')

In [51]:
type(price_per_category.index)

pandas.core.indexes.base.Index

In [45]:
price_per_category

{'product A': 12000, 'product B': 14000, 'product C': 13500}

In [52]:
price_per_category["product A"]

12000

In [53]:
series_b = pd.Series([10,20,30,40,50], index=[1,2,3,4,5])

In [54]:
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [66]:
series_b [5]

50

## bikin dataframe

In [75]:
data = {"Product Name":["product A","Product B","Product C"],"Product Price":[12000,23455,14000]}
    
df= pd.DataFrame (data, index=["A","B","C"])
df

  Product Name  Product Price
A    product A          12000
B    Product B          23455
C    Product C          14000

In [78]:
data = {"Product Name":["product A","Product B","Product C"],
"Product Price":[12000,23455,14000],}
Product_IDs = ["A","B","C"]
    
df= pd.DataFrame (data, index=Product_IDs)
df

  Product Name  Product Price
A    product A          12000
B    Product B          23455
C    Product C          14000