In [1]:
import pandas as pd
import numpy as np

In [2]:
df_raw = pd.read_csv("./Absenteeism-data.csv")

In [3]:
df_raw

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [4]:
## Copy the file for safe manipulating
df = df_raw.copy()

In [5]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [6]:
pd.options.display.max_columns = 50
pd.options.display.max_rows = 50

## Buat kita nampilin semua output = None 
## Nampilin sesuai yang kita inginkan disini contohnya 50

In [7]:
display(df)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [8]:
## Cek info dari dataframe 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [9]:
df_drop_ID = df.drop (columns=['ID'])

In [10]:
df_drop_ID.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [11]:
## Tasknya check the reason for absence for that we need to make new variabel to extract collomn ['reason for absence]
df_reason_for_Absence = df['Reason for Absence']

In [12]:
df_reason_for_Absence

0      26
1       0
2      23
3       7
4      23
       ..
695    10
696     6
697    10
698    23
699    28
Name: Reason for Absence, Length: 700, dtype: int64

In [13]:
df_reason_for_Absence.max() ## We want to know how many the type of reason for absence by using min and max 
                            ## And the result we get 29 type reason from 0 to 28

28

In [14]:
df_reason_for_Absence.min()

0

In [15]:
## Now we check the unique method to see is it not missing type from the data
df_reason_for_Absence.unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [16]:
## Then we check the length using len fungtions
len(df_reason_for_Absence.unique())
## Its differen from the course but it the easy way for me

28

In [17]:
## We fint thas is just 28 type of reason that is mean there is have some missing reason so fine it !!
sorted(df_reason_for_Absence.unique()) 
## We can fine the missing by only use the uqique method but the output is not a list so that we be risk and not efectif

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [18]:
## So i find thas number 20 reason is missing GOOD JOB !!

In [19]:
## Problem in here is we dont know the explaination for what the list reason stand for so we need see the legend create by the reseacher
## 2 Problem we need create dummy for reason so we can know how many person and what kind of reason they have 
## We create new collumns
reason_colloumn = pd.get_dummies(df_reason_for_Absence)
reason_colloumn

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [20]:
## We need to create the [Check] that = to sum horizontal using axis = 1 so we can know thas not have missing value
reason_colloumn['Check']=reason_colloumn.sum(axis=1)

In [21]:
reason_colloumn

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,Check
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
696,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
697,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [22]:
reason_colloumn['Check'].unique()

## The result just show 1 unique thats mean the data is not have missing or dobble reason

array([1], dtype=int64)

In [23]:
## Or we can check using .sum(axis=0) to sum vertical

reason_colloumn['Check'].sum(axis=0)

## The Result show 700 exactly correct to total row of our data

700

In [24]:
## We need to drop the 0 colloumn to avoid multicore linearity issues
reason_colloumn = pd.get_dummies(df_reason_for_Absence, drop_first=True)

In [25]:
reason_colloumn

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

### Group the Reason for Absence

In [26]:
df_drop_ID.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [27]:
## On this part we need to group the reason from the legend thats has create by researcher 
## So we get 1-14 are can group as reason_1, 15-17 as reason_2, 18-21 as reason_3, and 22-28 as reason_4
## Why ?? Because the reason 1-14 are on similiar reason and so like the other grup. 
## So we can make them as 4 group reason, because if we put the 28 reason thats will make the data is to wide
reason_colloumn

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [28]:
## We need to create the variabel so we can put in df_drop_ID 
reason_type_1 = reason_colloumn.loc[:, 1:14].max(axis=1) ## Use axis 1 count it horizontaly  
reason_type_2 = reason_colloumn.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_colloumn.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_colloumn.loc[:, 22:].max(axis=1)

In [29]:
## Concat the reason colloum
df_drop_ID = pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4],axis=1)

In [30]:
df_drop_ID.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [31]:
## Next we want to reneame the 4 reason gruop column
df.columns.values

array(['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [32]:
colum_name = ['ID','Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason_type_1', 'Reason_type_2', 'Reason_type_3', 'Reason_type_4']

In [33]:
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [34]:
DF_Clean = df_drop_ID

In [35]:
DF_Clean.columns = colum_name

In [36]:
DF_Clean.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [37]:
## We need drop ID colloum
DF_Clean = DF_Clean.drop(columns=['ID'])

In [38]:
DF_Clean.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [39]:
## Good Job XIXI

In [40]:
## Wenned to drop coloum Reason for Absence because we have grouping it in 4 diferen group
DF_Clean = DF_Clean.drop (columns=['Reason for Absence'])

In [41]:
DF_Clean.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [42]:
DF_Clean.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_type_1',
       'Reason_type_2', 'Reason_type_3', 'Reason_type_4'], dtype=object)

In [43]:
## We want to reorder collomns reason_type 1 to 4 so wiill dislpaly on first colloum
colum_name_reordered = ['Reason_type_1','Reason_type_2', 'Reason_type_3', 'Reason_type_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
                        'Daily Work Load Average', 'Body Mass Index', 'Education',
                        'Children', 'Pets', 'Absenteeism Time in Hours']

In [44]:
DF_Clean = DF_Clean[colum_name_reordered]

In [45]:
DF_Clean.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [46]:
## Check Point Task done grouping Reason Colloums by similiarity of 28 reason
## Drop unwanted colloum ID, Reason for Absence

## Next Task Working With Date Colloum

In [47]:
## Create Copy From Last working
df_reason_mod = DF_Clean.copy()

In [48]:
df_reason_mod.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [49]:
date_colloum = df_reason_mod['Date']
date_colloum

0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
          ...
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: Date, Length: 700, dtype: object

In [50]:
## Main Problem is date_colloum use / for seperating day,month,year | So we need change thats so can being analyst 
## Or the datatype is not float or integer

In [51]:
## So we can use timestamp to convert the data type from object or string to int
df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])

C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '14/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '15/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '16/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '23/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '17/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '24/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '13/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '20/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '27/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '30/07/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '14/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '17/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '24/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '19/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '28/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '27/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '20/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '21/08/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '13/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '14/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '24/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '21/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '28/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '15/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '22/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '29/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '16/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '23/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '30/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '18/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '25/09/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '13/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '14/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '15/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '16/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '21/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '22/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '20/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '23/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '30/10/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '19/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '16/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '18/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '20/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '25/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '27/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '26/11/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '15/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '16/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '18/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '13/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '14/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '15/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '21/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '28/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '25/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '26/01/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '15/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '16/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '23/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '25/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '17/02/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '15/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '16/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '14/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '21/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '22/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '24/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '25/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '28/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '29/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '30/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '17/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '18/03/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '13/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])
C:\Users\ganoa\AppData\Local\Temp\ipykernel_8880\2098633690.py:2: UserWarning: Parsing '14/04/2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'])

In [52]:
df_reason_mod.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2

In [53]:
## Good it working so we need check it
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
         ...
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [54]:
## Good the data type is now is datetime64
## shits we fine the problem thas the date is not corectly forget the format 
## So we need to back to checkpoin to reset the syntax

In [55]:
df_reason_mod['Date']=pd.to_datetime(df_reason_mod['Date'],format='%d/%m/%Y')

In [56]:
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
         ...
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [57]:
df_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_type_1              700 non-null    uint8
 1   Reason_type_2              700 non-null    uint8
 2   Reason_type_3              700 non-null    uint8
 3   Reason_type_4              700 non-null    uint8
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pets                       700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(8), uint8(4)
memory usage: 57.5 KB

## Extract The Month Value :

In [58]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [59]:
df_reason_mod['Date'][0].month

7

In [60]:
list_month = []
list_month

[]

In [61]:
## Append is excracting the data so in this case we want to exctract month value only but from 700 rows 
## So we will use for loop and storing the value to a list, and thas is why we create variabel list_month = []
for i in range(700):
    list_month.append(df_reason_mod['Date'][i].month)
## So its like for i, taking each value from 1 to 700

In [62]:
list_month

[7,
 7,
 7,
 7,
 7,
 10,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 5,
 12,
 3,
 10,
 8,
 8,
 8,
 4,
 12,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 4,
 8,
 8,
 8,
 1,
 7,
 1,
 8,
 9,
 9,
 9,
 9,
 4,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 11,
 9,
 9,
 6,
 10,
 10,
 10,
 10,
 10,
 6,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 5,
 4,
 5,
 12,
 11,
 2,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 2,
 10,
 11,
 11,
 1,
 1,
 2,
 2,
 3,
 4,
 8,
 9,
 10,
 11,
 12,
 12,
 11,
 12,
 12,
 6,
 4,
 5,
 5,
 6,
 7,
 7,
 8,
 11,
 12,
 12,
 1,
 1,
 1,
 11,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 3,
 10,
 11,
 11,
 12,
 12,
 8,
 9,
 2,
 9,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 8,
 3,
 3,
 2,
 3,
 4,
 4,
 7,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 6,
 4,
 12,
 4,
 4,
 4,
 4,
 6,
 7,
 8,
 8,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 8,
 4,
 4,
 5,
 2,
 3,
 3,
 11,
 9,
 10,
 4,
 11,
 5,
 5,
 5,
 5,
 11,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 3,
 7,
 8,
 9,
 10,
 6,
 6,
 5,
 6,
 8,
 8,
 12,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 11,
 7,
 7,
 4,
 11,
 7,
 8,
 10,
 10,
 11,
 8,
 9,
 10,
 10,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 9,
 7,
 8,
 12,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 5,
 5,
 5,
 6,
 6,
 6,
 12,
 12,
 12,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 7,
 8,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 6,
 9,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 4,
 9,
 9,
 3,
 3,
 9,
 11,
 1,
 1,
 1,
 1,
 7,
 1,
 1,
 3,
 10,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 7,
 8,
 10,
 10,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 5,
 7,
 7,
 10,
 10,
 12,
 12,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 3,
 8,
 10,
 10,
 11,
 12,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 8,
 9,
 9,
 12,
 12,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 10,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 3,
 7,
 8,
 8,
 8,
 8,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 5,
 5,
 5,
 7,
 8,
 8,
 11,
 9,
 9,
 9,
 9,
 5,
 5,
 6,
 11,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 8,
 8,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 5,
 6,
 6,
 8,
 8,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 4,
 4,
 5,
 8,
 10,
 11,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 6,
 7,
 7,
 8,
 8,
 8,
 9,
 9,
 12,
 12,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 12,
 12,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 3,
 4,
 5,
 6,
 9,
 10,
 10,
 10,
 11,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [63]:
## We need to check is the data is exctract correcly so we use len fungtions
len(list_month)

## And the result is correct 700 thas is mean no missing data

700

In [64]:
## We need to store the list_month to df_reason_mod or add new colloum contains list_month
df_reason_mod['Month_Value'] = list_month

In [65]:
df_reason_mod.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month_Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

In [66]:
## Looking Good

### Creat new colloum Day of the week

In [67]:
## So on the DF we has know the tanggal but we dont know what day its on week 
## So the goals is to exctact the day of the week
## And here we will define fungtions date_to_weekday
def date_to_weekday(date_value):
    return date_value.weekday()

In [68]:
## And next we just need to use the fungtions thas we has def(define)
df_reason_mod['Day of the week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [69]:
df_reason_mod.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month_Value,Day of the week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [70]:
### SWEEEEETTTTT

### Understanding the meaning of 5 colloum

In [71]:
## teki teki

## Modify Education Colloumn

In [72]:
df_reason_mod['Education'].unique()

## TO see the level of educations we use unique(), an we find the colloum have 4 level of educations
## 1 = High School, 2 = Graduated, 3 = postgraduate, 4 = a master or doctor

array([1, 3, 2, 4], dtype=int64)

In [73]:
df_reason_mod['Education'].value_counts()
## To count value by unique
## See

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [74]:
df_reason_mod['Education']=df_reason_mod['Education'].map({1:0,2:1,3:1,4:1})
## So here we want to group eh educations level from 4 to 2 (High School and Graduated)

In [75]:
df_reason_mod['Education'].unique()

array([0, 1], dtype=int64)

In [76]:
df_reason_mod['Education']

0      0
1      0
2      0
3      0
4      0
      ..
695    1
696    0
697    1
698    1
699    0
Name: Education, Length: 700, dtype: int64

In [77]:
df_reason_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [78]:
## Looking good, the 3 level of educations is has join to number 1

## Final Check point

In [79]:
df_clean = df_reason_mod.copy()
df_clean.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month_Value,Day of the week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3